* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;

    max-width: 100rem;

    margin: auto;
}

span {
    font-weight: bold;
    font-size: 12.6rem;
}

.hide {
    display: none;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer button {
    background: none;
    border: none;

    margin-top: 4.8rem;

    cursor: pointer;

    transition: 0.3s;
}

.timer button:hover {
    transform: scale(1.1);
}

.timer button + button {
    margin-left: 4rem;
}

#number {
    display: flex;
}

#sound-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sound-controls button {
    margin: 3.2rem;
    padding: 3.5rem;

    background: #e1e1e6;

    border-radius: 24px;
    border: none;

    cursor: pointer;

    transition: 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#sound-controls button:focus {
    background: #02799d;
    transform: scale(1.1);
}

#sound-controls svg:focus path {
    fill: white;
}

/* responsividade */

@media (max-width: 900px) {
    span {
        font-size: 10rem;
    }
    .timer button {
        margin-top: 1rem;
    }

    #container {
        display: flex;
        flex-direction: column;

        margin: auto;
    }

    #sound-controls button {
        margin: 2rem;
    }
}

@media (max-width: 450px) {
    span {
        font-size: 9rem;
    }

    .timer button + button {
        margin-left: 2rem;
    }

    #sound-controls {
        display: flex;
        flex-direction: column;
    }

    #sound-controls button {
        margin: 1rem;
        padding: 1.5rem;
    }

    #container {
        margin-bottom: 1rem;
    }
}
