* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;

    max-width: 100rem;

    margin: auto;
}

span {
    font-weight: bold;
    font-size: 12.6rem;
}

.hide {
    display: none;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer button {
    background: none;
    border: none;

    margin-top: 4.8rem;

    cursor: pointer;

    transition: 0.3s;
}

.timer button:hover {
    transform: scale(1.1);
}

.timer button + button {
    margin-left: 4rem;
}

#number {
    display: flex;
}

#sound-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sound-controls .light {
    margin: 3.2rem;
    padding: 3.5rem;

    background: #e1e1e6;

    border-radius: 24px;
    border: none;

    cursor: pointer;

    transition: 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.blue {
    margin: 3.2rem;
    padding: 3.5rem;

    border-radius: 24px;
    border: none;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: #02799d;
    transform: scale(1.1);
    transition: 0.3s;
}

.dark-blue {
    margin: 3.2rem;
    padding: 3.5rem;

    border-radius: 24px;
    border: none;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: #0a3442;
    transform: scale(1.1);
    transition: 0.3s;
}

.dark-gray {
    margin: 3.2rem;
    padding: 3.5rem;

    border-radius: 24px;
    border: none;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    background: #29292e;
    transform: scale(1.1);
    transition: 0.3s;
}

.color1 svg path:first-child {
    fill: #ffffff;
}

.color2 svg path:first-child {
    fill: #c4c4cc;
}

#sound-controls svg:focus-visible path {
    fill: white;
}

/* CSS DO INPUT RANGE (CONTROLE DE SOM) */

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    width: 100%;
    height: 0.5rem;
    position: relative;
    border-radius: 5px;
    background-color: rgb(50, 50, 57);
    outline: none;
    cursor: pointer;
}

/* para o Fire Fox */
.range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsla(240, 6%, 21%, 1);
    border: none;
}

/* para browsers da MS */
.range::-ms-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: hsla(240, 6%, 21%, 1);
    border: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none; /* remove a aparencia padão */
    border: none;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: hsla(240, 6%, 21%, 1);
}

#volForest.dark-mode-slider::-webkit-slider-thumb,
#volRain.dark-mode-slider::-webkit-slider-thumb,
#volFire.dark-mode-slider::-webkit-slider-thumb,
#volCoffe.dark-mode-slider::-webkit-slider-thumb {
    background: white;
}

/* ESTILIZAÇÃO DO DARK-MODE */

#dark-mode-btn,
#light-mode-btn {
    position: absolute;

    top: 10rem;
    right: 10rem;

    cursor: pointer;

    background: none;
    border: none;

    transition: 0.3s;
}

body.dark {
    background: #121214;
}

#number .minutes .light-mode,
#number .seconds .light-mode,
#number .separator .light-mode {
    color: white;
}

.light-mode svg path {
    fill: #ffffff;
}

/* responsividade */

@media (max-width: 900px) {
    span {
        font-size: 10rem;
    }
    .timer button {
        margin-top: 1rem;
    }

    #container {
        display: flex;
        flex-direction: column;

        margin: auto;
    }

    #sound-controls .light,
    .blue {
        margin: 2rem;
    }
}

@media (max-width: 700px) {
    #dark-mode-btn,
    #light-mode-btn {
        position: absolute;

        top: 1.5rem;
        right: 50%;
        left: 47%;
    }

    #container {
        margin-top: 4rem;
    }
}

@media (max-width: 450px) {
    span {
        font-size: 9rem;
    }

    body {
        margin-top: 10rem;
    }

    .timer button + button {
        margin-left: 2rem;
    }

    #sound-controls {
        display: flex;
        flex-direction: column;

        margin-top: 1rem;
    }

    #sound-controls .light,
    .blue {
        margin: 0.8rem;
        padding: 2.5rem;
    }

    #container {
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    #dark-mode-btn,
    #light-mode-btn {
        position: absolute;

        top: 1.5rem;
        right: 50%;
        left: 42%;
    }
}
